// Colors
@import './color.scss';

// Layouts
@import '../layouts/BasicLayout//BasicLayout.scss';

// Components
@import '../components/Header/Header.scss';
@import '../components/Header/TopBar/TopBar.scss';
@import '../components/Modal/BasicModal/BasicModal.scss';
